<div class="center jumbotron">
  <h1>Welcome to PYTTER</h1>
  <h2>
    This is the home page for my Twitter clone. Let's get started by hitting the button below!
  </h2>
  <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
</div>
<%= link_to image_tag("rails.svg", alt: "Rails logo", width: "200px"),
                      "https://rubyonrails.org/" %>
<%#= image_tag("kitten.jpg", alt: "Kitten") %>